[user]
  name = Beanaccle
  email = 25994266+Beanaccle@users.noreply.github.com
  signingkey = 9DB3897B39953969
[init]
  defaultBranch = main
[commit]
  gpgsign = true
[pull]
  rebase = false
[alias]
  co = checkout
  br = branch
  ci = commit
  ca = commit --amend --no-edit
  st = status
  lg = log --oneline
  cleanup = !git branch --merged | grep -vE '\\*|master$|main$|develop$' | xargs -I % git branch -D %
